* {
    outline: none;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px
}

input {
    border-radius: 10px;
    padding: 10px 15px;
    width: 60%;
    font-size: 30px;
    border: none;
    outline: none;
    box-shadow: 0 10px 25px 0 rgb(200, 200, 200);
}

input::placeholder {
    color: #66656528
}

.my-table {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

table {
    border: none;
    font-family: 微軟正黑體;
    font-size: 16px;
    width: 90%;
    /* border: 1px solid #000; */
    text-align: center;
    border-collapse: collapse;
    box-shadow:
        0 20px 0 -10px rgb(230, 230, 230),
        0 40px 0 -20px rgb(200, 200, 200),
        0 60px 0 -30px rgb(170, 170, 170)
}

th {
    background-color: #79787827;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
    font-size: 24px;
    /* border: 0px 0px 1px 0px solid #000; */
    color: rgb(0, 0, 0);
}

div.th-content{
    display: flex;
    justify-content: space-between;

}

td {
    /* border: 1px solid #000; */
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
    font-size: 20px;
    text-align: left;
}